{% extends "account/base_manage.html" %}
{% load i18n %}

{% block head_title %}
  {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
  <div class="container my-2">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center mb-2">{% trans "Sign Out" %}</h2>

            <p class="text-center">
              {% trans "Are you sure you want to sign out?" %}
            </p>

            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
              {% endif %}

              <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">
                  {% trans "Sign Out" %}
                </button>
              </div>
            </form>
            <p class="text-center mt-3">
                <a href="{% url 'account_email' %}">{% trans "Cancel" %}</a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}